BasedOnStyle: LLVM
Language: Cpp
Standard: c++17
IndentWidth: 4
UseTab: Never
ColumnLimit: 120
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Always
AllowShortLoopsOnASingleLine: true
AlwaysBreakTemplateDeclarations: Yes
SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements
PointerAlignment: Right
ConstructorInitializerIndentWidth: 4
BreakConstructorInitializers: AfterColon
IncludeBlocks: Preserve